Assistant flow.json
[{"id":"db3f1f49.f5543","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c8a3ca60.0c2998","type":"watson-conversation-v1","z":"db3f1f49.f5543","name":"assistant","workspaceid":"a02c19ab-116b-4a87-8078-3275a4c71bea","multiuser":true,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/af9df565-f6d4-42e1-8750-2d7b40facdfa","timeout":"","optout-learning":false,"x":520,"y":120,"wires":[["1d736505.86bfeb"]]},{"id":"7ce735b0.1e391c","type":"inject","z":"db3f1f49.f5543","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":60,"wires":[["c8a3ca60.0c2998"]]},{"id":"e3c606af.2180b8","type":"debug","z":"db3f1f49.f5543","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":160,"wires":[]},{"id":"1d736505.86bfeb","type":"function","z":"db3f1f49.f5543","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[["e3c606af.2180b8","5f7268fa.52aed8","1218b519.4223eb","cdc43701.8fd468"]]},{"id":"7c967704.ca4168","type":"ui_form","z":"db3f1f49.f5543","name":"","label":"","group":"c175875e.d2b168","order":4,"width":"0","height":"0","options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":310,"y":300,"wires":[["e2ebe506.3aa3e8","7da83f6e.0c091"]]},{"id":"e2ebe506.3aa3e8","type":"function","z":"db3f1f49.f5543","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["c8a3ca60.0c2998","c1408cbe.b962e"]]},{"id":"c1408cbe.b962e","type":"ui_text","z":"db3f1f49.f5543","group":"c175875e.d2b168","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":380,"wires":[]},{"id":"5f7268fa.52aed8","type":"ui_text","z":"db3f1f49.f5543","group":"c175875e.d2b168","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":220,"wires":[]},{"id":"1218b519.4223eb","type":"ui_audio","z":"db3f1f49.f5543","d":true,"name":"","group":"c175875e.d2b168","voice":"en-US","always":"","x":820,"y":80,"wires":[]},{"id":"cdc43701.8fd468","type":"ui_template","z":"db3f1f49.f5543","group":"c175875e.d2b168","name":"","order":1,"width":"3","height":"2","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":120,"wires":[[]]},{"id":"4ba2dfa4.39049","type":"watson-conversation-v1","z":"db3f1f49.f5543","name":"assistant","workspaceid":"b132ac87-d16e-4954-bbdc-9aca66a83840","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/af9df565-f6d4-42e1-8750-2d7b40facdfa","timeout":"","optout-learning":false,"x":500,"y":500,"wires":[["3492b367.e95d5c"]]},{"id":"bbddfb72.400888","type":"inject","z":"db3f1f49.f5543","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":480,"wires":[["4ba2dfa4.39049"]]},{"id":"3cc1f39a.409cbc","type":"debug","z":"db3f1f49.f5543","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":580,"wires":[]},{"id":"3492b367.e95d5c","type":"function","z":"db3f1f49.f5543","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":520,"wires":[["3cc1f39a.409cbc","c6949391.aeca3","a999e27.286a82","268759d5.eddd66"]]},{"id":"d13ab880.eca588","type":"function","z":"db3f1f49.f5543","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":700,"wires":[["4ba2dfa4.39049","df148357.d2513"]]},{"id":"df148357.d2513","type":"ui_text","z":"db3f1f49.f5543","group":"b6dafaa1.d3e3b8","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":760,"wires":[]},{"id":"c6949391.aeca3","type":"ui_text","z":"db3f1f49.f5543","group":"b6dafaa1.d3e3b8","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":640,"wires":[]},{"id":"a999e27.286a82","type":"ui_audio","z":"db3f1f49.f5543","d":true,"name":"","group":"b6dafaa1.d3e3b8","voice":"en-US","always":"","x":800,"y":460,"wires":[]},{"id":"268759d5.eddd66","type":"ui_template","z":"db3f1f49.f5543","group":"b6dafaa1.d3e3b8","name":"","order":1,"width":"3","height":"2","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":540,"wires":[[]]},{"id":"4f5da277.08717c","type":"watson-conversation-v1","z":"db3f1f49.f5543","name":"assistant","workspaceid":"65e0a4d7-c248-4271-abca-291697e73d12","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/af9df565-f6d4-42e1-8750-2d7b40facdfa","timeout":"","optout-learning":false,"x":620,"y":960,"wires":[["fae31dd.e4cbee"]]},{"id":"c407a375.6f583","type":"inject","z":"db3f1f49.f5543","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":940,"wires":[["4f5da277.08717c"]]},{"id":"25d3df5d.ed63a","type":"debug","z":"db3f1f49.f5543","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":1000,"wires":[]},{"id":"fae31dd.e4cbee","type":"function","z":"db3f1f49.f5543","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":980,"wires":[["25d3df5d.ed63a","5c20430e.37db8c","697423d3.e9ce2c","8b36397d.394fe8"]]},{"id":"1d10b46f.bd8eec","type":"ui_form","z":"db3f1f49.f5543","name":"","label":"","group":"ee430fc6.9c47b","order":4,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":410,"y":1140,"wires":[["614522a.4fa92dc"]]},{"id":"614522a.4fa92dc","type":"function","z":"db3f1f49.f5543","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1160,"wires":[["4f5da277.08717c","dcfd8190.15d71"]]},{"id":"dcfd8190.15d71","type":"ui_text","z":"db3f1f49.f5543","group":"ee430fc6.9c47b","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":1220,"wires":[]},{"id":"5c20430e.37db8c","type":"ui_text","z":"db3f1f49.f5543","group":"ee430fc6.9c47b","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":1060,"wires":[]},{"id":"697423d3.e9ce2c","type":"ui_audio","z":"db3f1f49.f5543","d":true,"name":"","group":"ee430fc6.9c47b","voice":"en-US","always":"","x":920,"y":920,"wires":[]},{"id":"8b36397d.394fe8","type":"ui_template","z":"db3f1f49.f5543","group":"ee430fc6.9c47b","name":"","order":1,"width":"3","height":"2","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1040,"y":960,"wires":[[]]},{"id":"60ac83b1.dd5a6c","type":"watson-conversation-v1","z":"db3f1f49.f5543","name":"assistant","workspaceid":"83617025-40a9-421f-8c2b-d0b08e494cfe","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/af9df565-f6d4-42e1-8750-2d7b40facdfa","timeout":"","optout-learning":false,"x":580,"y":1360,"wires":[["f39893c1.941ec"]]},{"id":"dad4e513.2080a8","type":"inject","z":"db3f1f49.f5543","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1340,"wires":[["60ac83b1.dd5a6c"]]},{"id":"c98fa4e8.25aee8","type":"debug","z":"db3f1f49.f5543","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":1400,"wires":[]},{"id":"f39893c1.941ec","type":"function","z":"db3f1f49.f5543","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1380,"wires":[["c98fa4e8.25aee8","92ed17fa.9a4088","d7820999.325138","3d3abaf1.6dd166"]]},{"id":"5f1d78ca.b58838","type":"ui_form","z":"db3f1f49.f5543","name":"","label":"","group":"c61fc3a8.ae3fc","order":4,"width":"6","height":"23","options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":370,"y":1540,"wires":[["e6104c95.45d34"]]},{"id":"e6104c95.45d34","type":"function","z":"db3f1f49.f5543","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1560,"wires":[["60ac83b1.dd5a6c","89ebfa62.433908"]]},{"id":"89ebfa62.433908","type":"ui_text","z":"db3f1f49.f5543","group":"c61fc3a8.ae3fc","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":1620,"wires":[]},{"id":"92ed17fa.9a4088","type":"ui_text","z":"db3f1f49.f5543","group":"c61fc3a8.ae3fc","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1460,"wires":[]},{"id":"d7820999.325138","type":"ui_audio","z":"db3f1f49.f5543","d":true,"name":"","group":"c61fc3a8.ae3fc","voice":"en-US","always":"","x":880,"y":1320,"wires":[]},{"id":"3d3abaf1.6dd166","type":"ui_template","z":"db3f1f49.f5543","group":"c61fc3a8.ae3fc","name":"","order":1,"width":"3","height":"2","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":1360,"wires":[[]]},{"id":"d371b073.bf7ae","type":"watson-conversation-v1","z":"db3f1f49.f5543","name":"assistant","workspaceid":"decbfe5c-94cf-4751-9c59-3bd9ddc3d69b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/af9df565-f6d4-42e1-8750-2d7b40facdfa","timeout":"","optout-learning":false,"x":580,"y":1760,"wires":[["4579d36e.d4e0fc"]]},{"id":"47411f52.cd846","type":"inject","z":"db3f1f49.f5543","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1740,"wires":[["d371b073.bf7ae"]]},{"id":"b5359842.55c538","type":"debug","z":"db3f1f49.f5543","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":1800,"wires":[]},{"id":"4579d36e.d4e0fc","type":"function","z":"db3f1f49.f5543","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1780,"wires":[["b5359842.55c538","529e1271.b3cc0c","c44cebd6.9d1848","75ec57c7.07de18"]]},{"id":"20611fa1.39f85","type":"ui_form","z":"db3f1f49.f5543","name":"","label":"","group":"d3be1f4b.23ae6","order":4,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":370,"y":1940,"wires":[["17ff4ee6.b76201"]]},{"id":"17ff4ee6.b76201","type":"function","z":"db3f1f49.f5543","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1960,"wires":[["d371b073.bf7ae","7de25c95.7a49d4"]]},{"id":"7de25c95.7a49d4","type":"ui_text","z":"db3f1f49.f5543","group":"d3be1f4b.23ae6","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":2020,"wires":[]},{"id":"529e1271.b3cc0c","type":"ui_text","z":"db3f1f49.f5543","group":"d3be1f4b.23ae6","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1860,"wires":[]},{"id":"c44cebd6.9d1848","type":"ui_audio","z":"db3f1f49.f5543","d":true,"name":"","group":"d3be1f4b.23ae6","voice":"en-US","always":"","x":880,"y":1720,"wires":[]},{"id":"75ec57c7.07de18","type":"ui_template","z":"db3f1f49.f5543","group":"d3be1f4b.23ae6","name":"","order":1,"width":"3","height":"2","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":1760,"wires":[[]]},{"id":"93ce4d47.32f7a","type":"ui_form","z":"db3f1f49.f5543","name":"","label":"","group":"b6dafaa1.d3e3b8","order":5,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":260,"y":700,"wires":[["d13ab880.eca588"]]},{"id":"13a42fdb.a5ccf","type":"http in","z":"db3f1f49.f5543","name":"","url":"/jobroles","method":"get","upload":false,"swaggerDoc":"","x":490,"y":2220,"wires":[["f3093186.c0cd8"]]},{"id":"23f4ed28.43fd82","type":"http response","z":"db3f1f49.f5543","name":"","statusCode":"","headers":{},"x":770,"y":2219,"wires":[]},{"id":"f3093186.c0cd8","type":"template","z":"db3f1f49.f5543","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>\n            Job Roles\n        </title>\n    </head>\n    <body style=\"background-color:RGBA(179,230,249)\">\n    <center>\n    <p style=\"font-size:60px\" background-color:blue><b>Job Roles</b></p>\n    <p style=\"font-size:40px\">\n    <a href=\"https://node-red-kgqfc.eu-gb.mybluemix.net/ui/#!/0?socketid=JI5CXV4-u1hAcYlcAAB6\" target=\"_blank\">\n       Testing Engineer</a></br></br>\n       <a href=\"https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=abc935af-013d-4e3d-a54a-eb6c0da9f955&serviceInstanceID=af9df565-f6d4-42e1-8750-2d7b40facdfa\" target=\"_blank\">\n       Java Developer</a></br></br>\n       <a href=\"https://node-red-kgqfc.eu-gb.mybluemix.net/ui/#!/2?socketid=JI5CXV4-u1hAcYlcAAB6\" target=\"_blank\">\n       Technical Support Engineer</a></br></br>\n        <a href=\"https://node-red-kgqfc.eu-gb.mybluemix.net/ui/#!/3?socketid=JI5CXV4-u1hAcYlcAAB6\" target=\"_blank\">\n       Software Developer</a></br></br>\n        <a href=\"https://node-red-kgqfc.eu-gb.mybluemix.net/ui/#!/4?socketid=JI5CXV4-u1hAcYlcAAB6\" target=\"_blank\">\n       Database Architect</a></br></br>\n    </p>\n    </center>\n    </body>\n</html>","output":"str","x":620,"y":2319,"wires":[["23f4ed28.43fd82"]]},{"id":"7da83f6e.0c091","type":"function","z":"db3f1f49.f5543","name":"","func":"msg.payload = \"Please enter hi to refresh\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["192f112d.1eb8bf"]]},{"id":"192f112d.1eb8bf","type":"ui_text","z":"db3f1f49.f5543","group":"c175875e.d2b168","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":260,"wires":[]},{"id":"c175875e.d2b168","type":"ui_group","z":"","name":"chatbot","tab":"2587fbe7.404f74","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6dafaa1.d3e3b8","type":"ui_group","z":"","name":"chatbot","tab":"9d66b5.f0dd7948","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee430fc6.9c47b","type":"ui_group","z":"","name":"chatbot","tab":"755a7896.c62d88","order":1,"disp":true,"width":"6","collapse":false},{"id":"c61fc3a8.ae3fc","type":"ui_group","z":"","name":"chatbot","tab":"c0018b62.20e4d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d3be1f4b.23ae6","type":"ui_group","z":"","name":"chatbot","tab":"b816e641.3b9778","order":1,"disp":true,"width":"6","collapse":false},{"id":"2587fbe7.404f74","type":"ui_tab","z":"","name":"Testing Engineer","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"9d66b5.f0dd7948","type":"ui_tab","z":"","name":"Java Developer","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"755a7896.c62d88","type":"ui_tab","z":"","name":"Technical Support Engineer","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"c0018b62.20e4d8","type":"ui_tab","z":"","name":"Software Developer","icon":"dashboard","order":13,"disabled":false,"hidden":false},{"id":"b816e641.3b9778","type":"ui_tab","z":"","name":"Database Architect","icon":"dashboard","order":14,"disabled":false,"hidden":false}]