Confirmation form.json
[{"id":"bc0e439c.a6114","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6074f3d.eb9c7","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = {\n    _id : msg.payload.email,\n    name : msg.payload.name,\n    email : msg.payload.email,\n    phno : msg.payload.phno,\n    software_developer : true,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":280,"wires":[["809878ad.8353d8"]]},{"id":"809878ad.8353d8","type":"cloudant out","z":"bc0e439c.a6114","name":"","cloudant":"","database":"software_developer","service":"node-red-tchvanguard-cloudant-1594462045929-86480","payonly":true,"operation":"insert","x":610,"y":300,"wires":[]},{"id":"991853ff.7595b","type":"cloudant out","z":"bc0e439c.a6114","name":"","cloudant":"","database":"java_developer","service":"node-red-tchvanguard-cloudant-1594462045929-86480","payonly":true,"operation":"insert","x":600,"y":480,"wires":[]},{"id":"e124a1f1.67e7e","type":"cloudant out","z":"bc0e439c.a6114","name":"","cloudant":"","database":"tech_support_engg","service":"node-red-tchvanguard-cloudant-1594462045929-86480","payonly":true,"operation":"insert","x":510,"y":680,"wires":[]},{"id":"dc9bc149.7183","type":"cloudant out","z":"bc0e439c.a6114","name":"","cloudant":"","database":"database_architect","service":"node-red-tchvanguard-cloudant-1594462045929-86480","payonly":true,"operation":"insert","x":510,"y":880,"wires":[]},{"id":"80a69b7a.b323b8","type":"cloudant out","z":"bc0e439c.a6114","name":"","cloudant":"","database":"testing_engg","service":"node-red-tchvanguard-cloudant-1594462045929-86480","payonly":true,"operation":"insert","x":570,"y":120,"wires":[]},{"id":"75628e53.4a922","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = {\n    _id : msg.payload.email,\n    name : msg.payload.name,\n    email : msg.payload.email,\n    phno : msg.payload.phno,\n    testing_engg : true,\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[["80a69b7a.b323b8"]]},{"id":"bd8e9490.d867e8","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = {\n    _id : msg.payload.email,\n    name : msg.payload.name,\n    email : msg.payload.email,\n    phno : msg.payload.phno,\n    java_developer : true,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":480,"wires":[["991853ff.7595b"]]},{"id":"2e908bcd.cb5a14","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = {\n    _id : msg.payload.email,\n    name : msg.payload.name,\n    email : msg.payload.email,\n    phno : msg.payload.phno,\n    tech_support_engg : true,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":680,"wires":[["e124a1f1.67e7e"]]},{"id":"57b6ff89.f99ba","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = {\n    _id : msg.payload.email,\n    name : msg.payload.name,\n    email : msg.payload.email,\n    phno : msg.payload.phno,\n    database_architect :true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":880,"wires":[["dc9bc149.7183"]]},{"id":"7c8a993.ff08768","type":"ui_form","z":"bc0e439c.a6114","name":"","label":"Testing Engineer","group":"8e37ed31.f07d1","order":2,"width":"0","height":"0","options":[{"label":"enter name","value":"name","type":"text","required":true,"rows":null},{"label":"enter email id","value":"email","type":"email","required":true,"rows":null},{"label":"enter phone no.","value":"phno","type":"text","required":false,"rows":null}],"formValue":{"name":"","email":"","phno":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":190,"y":60,"wires":[["75628e53.4a922","b2be43e6.ca6bf","8ec92ea9.cd924","65aa3e80.08639"]]},{"id":"616e4ca4.bf4f44","type":"ui_form","z":"bc0e439c.a6114","name":"","label":"Software Developer","group":"c6162d43.116a4","order":4,"width":"0","height":"0","options":[{"label":"enter name","value":"name","type":"text","required":true,"rows":null},{"label":"enter email id","value":"email","type":"email","required":true,"rows":null},{"label":"enter phone number","value":"phno","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","phno":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":290,"y":240,"wires":[["fb31e378.f1977","38feb707.fab748","e6074f3d.eb9c7","d2dec853.3d1d98"]]},{"id":"3c7036b6.71515a","type":"ui_form","z":"bc0e439c.a6114","name":"","label":"Java developer","group":"b1e32ff3.d3b41","order":2,"width":"0","height":"0","options":[{"label":"enter name","value":"name","type":"text","required":true,"rows":null},{"label":"enter email id","value":"email","type":"email","required":true,"rows":null},{"label":"enter phone no.","value":"phno","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","phno":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":180,"y":440,"wires":[["bd8e9490.d867e8","5447b62f.31ac28","b7b10c5d.c4ca6","43bf5643.9889f8"]]},{"id":"48f1082c.95c868","type":"ui_form","z":"bc0e439c.a6114","name":"","label":"Tech Support engg","group":"513d7822.0b88f8","order":2,"width":"0","height":"0","options":[{"label":"enter name","value":"name","type":"text","required":true,"rows":null},{"label":"enter email id","value":"email","type":"email","required":true,"rows":null},{"label":"enter phone no.","value":"phno","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","phno":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":130,"y":660,"wires":[["2e908bcd.cb5a14","96d1762d.3b89d8","bdf8d123.5761d","ad4e62ba.fc865"]]},{"id":"301eaa8a.0f3dd6","type":"ui_form","z":"bc0e439c.a6114","name":"","label":"Database Architect","group":"d227c82e.2f84f8","order":2,"width":"0","height":"0","options":[{"label":"enter name","value":"name","type":"text","required":true,"rows":null},{"label":"enter email id","value":"email","type":"email","required":true,"rows":null},{"label":"enter phone no.","value":"phno","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","phno":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":130,"y":860,"wires":[["57b6ff89.f99ba","c73e9440.8aaa08","5d59e7a1.ca83b8","32b15f5.fbcfaa"]]},{"id":"38feb707.fab748","type":"debug","z":"bc0e439c.a6114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":340,"wires":[]},{"id":"fb31e378.f1977","type":"function","z":"bc0e439c.a6114","name":"email function","func":"msg = {\n    payload : msg.payload.name+\" has been shortlisted for Software developer post.\\nCandidate details \\nName: \"+msg.payload.name+\"\\nEmail id: \"+msg.payload.email+\"\\nPhone no.: \"+msg.payload.phno,\n    topic : \"Recruiter Chatbot : Software Developer\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":340,"wires":[["228a5fc3.684a6"]]},{"id":"228a5fc3.684a6","type":"e-mail","z":"bc0e439c.a6114","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akansha.thakarke@cumminscollege.in, swapnaja.wattamwar@cumminscollege.in","dname":"","x":770,"y":380,"wires":[]},{"id":"5447b62f.31ac28","type":"function","z":"bc0e439c.a6114","name":"email function","func":"msg = {\n    payload : msg.payload.name+\" has been shortlisted for Java developer post.\\nCandidate details \\nName: \"+msg.payload.name+\"\\nEmail id: \"+msg.payload.email+\"\\nPhone no.: \"+msg.payload.phno,\n    topic : \"Recruiter Chatbot: Java Developer\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":520,"wires":[["6d5d7d70.8cc754"]]},{"id":"6d5d7d70.8cc754","type":"e-mail","z":"bc0e439c.a6114","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akansha.thakarke@cumminscollege.in, swapnaja.wattamwar@cumminscollege.in","dname":"","x":650,"y":560,"wires":[]},{"id":"b7b10c5d.c4ca6","type":"debug","z":"bc0e439c.a6114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":520,"wires":[]},{"id":"96d1762d.3b89d8","type":"function","z":"bc0e439c.a6114","name":"email function","func":"msg = {\n    payload : msg.payload.name+\" has been shortlisted for Tech Support Engineer post.\\nCandidate details \\nName: \"+msg.payload.name+\"\\nEmail id: \"+msg.payload.email+\"\\nPhone no.: \"+msg.payload.phno,\n    topic : \"Recruiter Chatbot: Tech Support Engineer\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":720,"wires":[["baa31c4b.4d5ba"]]},{"id":"baa31c4b.4d5ba","type":"e-mail","z":"bc0e439c.a6114","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akansha.thakarke@cumminscollege.in, swapnaja.wattamwar@cumminscollege.in","dname":"","x":550,"y":760,"wires":[]},{"id":"bdf8d123.5761d","type":"debug","z":"bc0e439c.a6114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":720,"wires":[]},{"id":"c73e9440.8aaa08","type":"function","z":"bc0e439c.a6114","name":"email function","func":"msg = {\n    payload : msg.payload.name+\" has been shortlisted for Database Architect post.\\nCandidate details \\nName: \"+msg.payload.name+\"\\nEmail id: \"+msg.payload.email+\"\\nPhone no.: \"+msg.payload.phno,\n    topic : \"Recruiter Chatbot: Database Architect\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":920,"wires":[["7141ea52.1c9314"]]},{"id":"7141ea52.1c9314","type":"e-mail","z":"bc0e439c.a6114","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akansha.thakarke@cumminscollege.in, swapnaja.wattamwar@cumminscollege.in","dname":"","x":550,"y":960,"wires":[]},{"id":"5d59e7a1.ca83b8","type":"debug","z":"bc0e439c.a6114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":920,"wires":[]},{"id":"b2be43e6.ca6bf","type":"function","z":"bc0e439c.a6114","name":"email function","func":"msg = {\n    payload : msg.payload.name+\" has been shortlisted for Testing Engineer post.\\nCandidate details \\nName: \"+msg.payload.name+\"\\nEmail id: \"+msg.payload.email+\"\\nPhone no.: \"+msg.payload.phno,\n    topic : \"Recruiter Chatbot: Testing Engineer\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":140,"wires":[["a7610180.403f2"]]},{"id":"a7610180.403f2","type":"e-mail","z":"bc0e439c.a6114","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akansha.thakarke@cumminscollege.in, swapnaja.wattamwar@cumminscollege.in","dname":"","x":610,"y":180,"wires":[]},{"id":"8ec92ea9.cd924","type":"debug","z":"bc0e439c.a6114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":140,"wires":[]},{"id":"30cdaff2.bdbf8","type":"ui_toast","z":"bc0e439c.a6114","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Status","name":"","x":610,"y":80,"wires":[]},{"id":"65aa3e80.08639","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = \"Hello! \"+msg.payload.name+\", your details are forwarded to the interviewer successfully. Interviewer will contact you for further details.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":40,"wires":[["30cdaff2.bdbf8"]]},{"id":"9ef37597.8aa9e8","type":"ui_toast","z":"bc0e439c.a6114","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Status","name":"","x":630,"y":260,"wires":[]},{"id":"d2dec853.3d1d98","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = \"Hello! \"+msg.payload.name+\", your details are forwarded to the interviewer successfully. Interviewer will contact you for further details.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":220,"wires":[["9ef37597.8aa9e8"]]},{"id":"b00f8bf8.9410a8","type":"ui_toast","z":"bc0e439c.a6114","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Status","name":"","x":590,"y":440,"wires":[]},{"id":"43bf5643.9889f8","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = \"Hello! \"+msg.payload.name+\", your details are forwarded to the interviewer successfully. Interviewer will contact you for further details.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":420,"wires":[["b00f8bf8.9410a8"]]},{"id":"b3a5a680.766038","type":"ui_toast","z":"bc0e439c.a6114","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Status","name":"","x":570,"y":640,"wires":[]},{"id":"ad4e62ba.fc865","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = \"Hello! \"+msg.payload.name+\", your details are forwarded to the interviewer successfully. Interviewer will contact you for further details.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":620,"wires":[["b3a5a680.766038"]]},{"id":"541a7696.8f6168","type":"ui_toast","z":"bc0e439c.a6114","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Status","name":"","x":550,"y":840,"wires":[]},{"id":"32b15f5.fbcfaa","type":"function","z":"bc0e439c.a6114","name":"","func":"msg.payload = \"Hello! \"+msg.payload.name+\", your details are forwarded to the interviewer successfully. Interviewer will contact you for further details.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":820,"wires":[["541a7696.8f6168"]]},{"id":"8e37ed31.f07d1","type":"ui_group","z":"bc0e439c.a6114","name":"Confirmation Form","tab":"a1c31046.1200d","order":3,"disp":true,"width":"6","collapse":false},{"id":"c6162d43.116a4","type":"ui_group","z":"bc0e439c.a6114","name":"Confirmation Form","tab":"539e1841.a255c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1e32ff3.d3b41","type":"ui_group","z":"bc0e439c.a6114","name":"Confirmation Form","tab":"bd7a5f4.09d1ea","order":1,"disp":true,"width":"6","collapse":false},{"id":"513d7822.0b88f8","type":"ui_group","z":"bc0e439c.a6114","name":"Confirmation Form","tab":"e89ced61.c25cf","order":2,"disp":true,"width":"6","collapse":false},{"id":"d227c82e.2f84f8","type":"ui_group","z":"bc0e439c.a6114","name":"Confirmation Form","tab":"f73cfd9.6279d","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1c31046.1200d","type":"ui_tab","z":"bc0e439c.a6114","name":"Testing engg","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"539e1841.a255c8","type":"ui_tab","z":"bc0e439c.a6114","name":"Software Developer","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"bd7a5f4.09d1ea","type":"ui_tab","z":"bc0e439c.a6114","name":"Java Developer","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e89ced61.c25cf","type":"ui_tab","z":"bc0e439c.a6114","name":"Tech Support engg","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f73cfd9.6279d","type":"ui_tab","z":"bc0e439c.a6114","name":"Database Architect","icon":"dashboard","order":5,"disabled":false,"hidden":false}]