Registration form.json
[{"id":"76c27d77.94fbf4","type":"tab","label":"Student registration","disabled":false,"info":""},{"id":"fdd11f95.3fce9","type":"ui_form","z":"76c27d77.94fbf4","name":"Student Registration","label":"","group":"13a89c0.cc72264","order":6,"width":0,"height":0,"options":[{"label":"Enter  name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Phone number","value":"phno","type":"number","required":true,"rows":null},{"label":"Enter email","value":"email","type":"email","required":true,"rows":null}],"formValue":{"name":"","phno":"","email":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":140,"y":140,"wires":[["2b138423.271ecc","efa89a06.b24728","b482ec0a.da6d7"]]},{"id":"c7eb9fb4.8f614","type":"cloudant out","z":"76c27d77.94fbf4","name":"","cloudant":"","database":"student_database","service":"node-red-dterc-cloudant-1591679258409-73725","payonly":true,"operation":"insert","x":570,"y":60,"wires":[]},{"id":"2b138423.271ecc","type":"function","z":"76c27d77.94fbf4","name":"","func":"msg.payload = {\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Phonenumber:msg.payload.phno,\n    Email:msg.payload.email,\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["c7eb9fb4.8f614"]]},{"id":"efa89a06.b24728","type":"function","z":"76c27d77.94fbf4","name":"","func":"msg.payload = \"Hey! \"+msg.payload.name+\". Registration Successful\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["7a5edbff.dfe184"]]},{"id":"81c0869b.1b9078","type":"function","z":"76c27d77.94fbf4","name":"","func":"msg.payload = \"Hello Candidates, This is a platform where in you all can look out for any new job roles of your respective field, apply, chat with our Chatbot and get Recruited.\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["5d3e743e.83748c"]]},{"id":"5d3e743e.83748c","type":"ui_text","z":"76c27d77.94fbf4","group":"bae8b952.479aa8","order":0,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":515,"y":380,"wires":[],"l":false},{"id":"b482ec0a.da6d7","type":"ui_template","z":"76c27d77.94fbf4","group":"13a89c0.cc72264","name":"","order":6,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>JavaScript Redirect a Page onClick Event</title>\n<script>\n    function pageRedirect() {\n     \n      window.location.href = \"https://node-red-kgqfc.eu-gb.mybluemix.net/jobroles\"\n    }\n</script>\n</head>\n<body>\n    <button type=\"button\" onclick=\"pageRedirect()\">Go to jobroles page</button>\n   \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":60,"wires":[[]]},{"id":"7a5edbff.dfe184","type":"ui_toast","z":"76c27d77.94fbf4","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Status","name":"","x":670,"y":240,"wires":[]},{"id":"2206b084.d5327","type":"inject","z":"76c27d77.94fbf4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":400,"wires":[["81c0869b.1b9078"]]},{"id":"13a89c0.cc72264","type":"ui_group","z":"","name":"REGISTRATION","tab":"a966722b.68fae","order":1,"disp":true,"width":"6","collapse":false},{"id":"bae8b952.479aa8","type":"ui_group","z":"","name":"WELCOME ","tab":"582d2147.178e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a966722b.68fae","type":"ui_tab","z":"","name":"STUDENT","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"582d2147.178e8","type":"ui_tab","z":"","name":"WELCOME PAGE","icon":"dashboard","order":1,"disabled":false,"hidden":false}]